$white: #ffffff;
$background-white: #f1f1f1;
$table-background-dark: #242223;
$table-background-light: #343434;
$accent-red: #ff0600;
$decend-red: #cf170b;
$accend-green: #01ca00;
$fastest-lap: #ba03fc;

//Teams
$red-bull: #0a01e4;
$ferrari: #d80202;
$mclaren: #ff8605;
$aston-martin: #2D826D;
$mercedes: #03d2b6;
$williams: #005cfb;
$alpine: #0391ff;
$haas: #d4d5d7;
$kick-sauber: #39FF14;
$rb-vcarb: #1D2951;

//other
$dhl: #ffcc00;