@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../font/Roboto-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: url('../font/Roboto-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../font/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('../font/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../font/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../font/Roboto-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../font/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('../font/Roboto-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../font/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('../font/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../font/Roboto-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url('../font/Roboto-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Formula1-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../font/Formula1-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Formula1-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../font/Formula1-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Formula1-Wide';
  font-style: normal;
  font-weight: 400;
  src: url('../font/Formula1-Wide.otf') format('opentype');
}

.f1-bold {
  font-family: 'Formula1-Bold', Helvetica, Arial, sans-serif;
}

.f1-regular {
  font-family: 'Formula1-Regular', Helvetica, Arial, sans-serif;
}

.f1-wide {
  font-family: 'Formula1-Wide', Helvetica, Arial, sans-serif;
}