@font-face {
    font-family: 'MaterialIconsRound'; /*Name der Schriftartfamilie*/
    src: url('../font/MaterialIconsRound-Regular.otf') /*Pfad zur Schriftartdatei*/
    format('opentype'); /*Dateiformat der Schriftartdatei*/
}

.icon {
    font-family: 'MaterialIconsRound';
    font-size: inherit;
}

.icon-20pt {
    font-family: 'MaterialIconsRound';
    font-size: 20pt;
}

.icon-16pt {
    font-family: 'MaterialIconsRound';
    font-size: 16pt;
}

.icon-12pt {
    font-family: 'MaterialIconsRound';
    font-size: 12pt;
}
