@use "variables.scss";

.profile-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 40px;
}

.profile-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.profile-card {
  background: variables.$table-background-dark;
  color: variables.$white;
  padding: 20px 30px 40px;
  border-top: 4px solid variables.$accent-red;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-rating-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.profile-pic-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: max-content;
  position: relative;
}

.pic-button-wrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s;
}

.rating {
  font-size: 60px;
}

.profile-pic-wrapper:hover .pic-button-wrapper {
  opacity: 1;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
}

.save-image-button {
    border: none;
    background: green;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.profile-placeholder {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: variables.$table-background-light;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: variables.$table-background-light;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: all 0.3s;
  &.delete {
    background-color: variables.$decend-red;
  }
}

.custom-file-upload:hover {
  background-color: variables.$decend-red;
}

.edit-button {
    border: none;
    background: transparent;
    color: white;
}

.info-wrapper {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 300;
}

//trophies

.trophies-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.trophies-tabs {
  display: flex;
  gap: 20px;
}

.trophies-tab {
  padding: 10px 20px;
  background: variables.$table-background-light;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: all 0.3s;
  width: 100%;
  &.active {
    background: variables.$accent-red;
  }
}

.trophies-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.trophies-list-item {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.trophies-img {
    width: 50px;
    height: 50px;
}

.fastest-laps-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.fastest-laps-list-item {
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 10px;
  background-color: variables.$table-background-light;
  padding: 10px 20px;
}

//stats
.stats-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.stats-card {
  background: variables.$table-background-light;
  color: variables.$white;
  padding: 20px 30px 0px;
  border-top: 4px solid variables.$accent-red;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  &>p {
    font-size: 50px;
    font-weight: 300;
  }
}