@use "./variables";

.home-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.table-wrapper {
    background: variables.$table-background-dark;
    color: variables.$white;
    padding: 20px;
    border-top: 4px solid variables.$accent-red;
}

.table-mask {
    max-height: 547.04px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.leaderboard-table {
    width: 100%;
    position: relative;
    color: white;
    top: -10px;
    & thead > tr {
        background: variables.$table-background-dark;
        font-family: 'Formula1-Bold';
    }
    & tr:first-child {
        position:sticky;
        top: -3px;
        transition-duration: .3s;
        & > th {
            padding: 10px;
            font-size: 1.2em;
            font-weight: 900;
            text-transform: uppercase;
        }
    }

    & tr {
        background: variables.$table-background-light;
        border-top: solid 5px variables.$table-background-dark;
        border-bottom: solid 5px variables.$table-background-dark;
        margin: 0;
        & > td {
            padding: 10px;
        }

        & > td:last-of-type, th:last-of-type {
            text-align: right;
        }
    }
}

.season-results-table {
    width: 100%;
    position: relative;
    color: white;
    top: -10px;
    & thead > tr {
        background: variables.$table-background-dark;
        position: sticky;
        top: -3px;
        transition-duration: .3s;
        & > th {
            padding: 10px;
            font-size: 1.2em;
            font-weight: 900;
            text-transform: uppercase;
            white-space: nowrap;
            text-align: center;
        }
    }
    & tbody > tr {
        position: static !important;
    }
    & tr {
        background: variables.$table-background-light;
        border-top: solid 5px variables.$table-background-dark;
        border-bottom: solid 5px variables.$table-background-dark;
        margin: 0;

        & > td:first-of-type, th:first-of-type {
            text-align: left;
        }

        & > td {
            padding: 10px;
            text-align: center;
        }

        & > td:last-of-type, th:last-of-type {
            text-align: center;
        }
    }
}

.tyre-table {
    & tr:first-child {
        background: variables.$table-background-dark;
        position: sticky;
        top: -3px;
        transition-duration: .3s;

        & > th {
            padding: 10px;
            font-size: 1.2em;
            font-weight: 900;
            text-transform: uppercase;
            white-space: nowrap;
        }
    }

    & tr:nth-child(2) {
        position: sticky;
        top: 77px;
        transition-duration: .3s;
    }

    & tr {
        background: variables.$table-background-light;
        border-top: solid 5px variables.$table-background-dark;
        border-bottom: solid 5px variables.$table-background-dark;
        margin: 0;

        & > td:first-of-type, th:first-of-type {
            text-align: center;
        }

        & > td, th {
            padding: 10px;
            text-align: center;
        }

        & > td:last-of-type, th:last-of-type {
            text-align: center;
        }
    }
}

.season-result-table-mask {
    max-height: 800px;
    overflow-y: auto;
    overflow-x: auto;
}

.race-list {
    width: 100%;
    position: relative;
    color: white;

    & > tr:first-child {
        background: variables.$table-background-dark;
        position: sticky;
        top: -3px;
        transition-duration: .3s;

        & > th {
            padding: 10px;
            font-size: 1.2em;
            font-weight: 900;
            text-transform: uppercase;
        }
    }

    & > tr {
        background: variables.$table-background-light;
        border-top: solid 5px variables.$table-background-dark;
        border-bottom: solid 5px variables.$table-background-dark;

        & > td {
            padding: 10px;
        }

        & > td:last-of-type, th:last-of-type {
            text-align: right;
        }
    }
}

.pos {
    display: flex;
    justify-content: space-between;
}

.table-race-id {
    color: grey;
    text-decoration: none;
    cursor: default;
    &:hover {
        color: grey;
    }
    &.is-finished {
        color: white;
        
    }
}

tr.fastest-lap {
    & > td {
        background: variables.$fastest-lap;
    }
}